/*!
 *  Fonts.css -- Cross-platform Chinese fonts solution
 *  Github: https://github.com/zenozeng/fonts.css
 */
body {
  padding: 0;
  margin: 0;
}
em,
i,
address,
abbr,
big,
small,
ins,
del,
u {
  font-style: normal;
  text-decoration: none;
}
time {
  color: #666;
}
time p {
  color: #999;
}
label {
  line-height: 1.4;
  margin-bottom: 0;
  font-weight: normal;
}
label input[type="checkbox"] {
  margin-right: 5px;
}
ul,
li {
  margin: 0;
  list-style: none;
}
ul {
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 ;
}
.bdst1 {
  border-top: 1px dashed #ddd !important;
}
.bdsb1 {
  border-bottom: 1px dashed #ddd !important;
}
.bdsl1 {
  border-left: 1px dashed #ddd !important;
}
.bdsr1 {
  border-right: 1px dashed #ddd !important;
}
.pr {
  position: relative;
}
.fr {
  float: right !important;
}
.fl {
  float: left !important;
}
.fc:before,
.fc:after {
  content: " ";
  display: table;
}
.fc:after {
  clear: both;
}
.fc:before,
.fc:after {
  content: " ";
  display: table;
}
.fc:after {
  clear: both;
}
.mw {
  max-width: 270px;
}
.reset-ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.img-round {
  border-radius: 50%;
}
.dashed {
  border-style: dashed !important;
}
.abs-lt {
  position: absolute !important;
  left: 1;
  top: 0;
}
.abs-lm {
  position: absolute !important;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.abs-lb {
  position: absolute !important;
  left: 0;
  bottom: 0;
}
.abs-mt {
  position: absolute !important;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.abs-mm {
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.abs-mb {
  position: absolute !important;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.abs-rt {
  position: absolute !important;
  right: 0;
  top: 0;
}
.abs-rm {
  position: absolute !important;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.abs-rb {
  position: absolute !important;
  right: 0;
  bottom: 0;
}
.fixMid {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fixTop {
  position: fixed !important;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.fixBottom {
  position: fixed !important;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.fix-lt {
  position: fixed !important;
  left: 0;
  top: 0;
}
.fix-lm {
  position: fixed !important;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.fix-lb {
  position: fixed !important;
  left: 0;
  bottom: 0;
}
.fix-mt {
  position: fixed !important;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.fix-mm {
  position: fixed !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.fix-mb {
  position: fixed !important;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.fix-rt {
  position: fixed !important;
  right: 0;
  top: 0;
}
.fix-rm {
  position: fixed !important;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.fix-rb {
  position: fixed !important;
  right: 0;
  bottom: 0;
}
.f-flexbox {
  display: flex;
  text-align: left;
}
.f-flex1 {
  flex: 1;
}
.f-flex2 {
  flex: 2;
}
.f-flex3 {
  flex: 3;
}
.f-flex4 {
  flex: 4;
}
.f-flex5 {
  flex: 5;
}
/* Float blocks*/
.f-n {
  display: none !important;
}
.f-b {
  display: block !important;
}
.f-c:before,
.clearfix:before,
.f-c:after,
.clearfix:after {
  content: " ";
  display: table;
}
.f-c:after,
.clearfix:after {
  clear: both;
}
.f-of {
  overflow: hidden;
}
.f-cent {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
/* Position */
.f-fixed {
  position: fixed !important;
}
.f-static {
  position: static !important;
}
.f-relative {
  position: relative !important;
}
.f-absolute {
  position: absolute !important;
}
/* Display */
.f-i {
  display: inline !important;
}
.f-ib {
  display: inline-block !important;
}
.f-h {
  display: none !important;
  visibility: hidden !important;
}
.f-s {
  display: block !important;
  visibility: visible !important;
}
.t-primary {
  color: #00CBC0 !important;
}
.t-second {
  color: #474e5e !important;
}
.t-info {
  color: #0287fe !important;
}
.t-success {
  color: #45be8a !important;
}
.t-warning {
  color: #f0ad4e !important;
}
.t-danger {
  color: #E20D0D !important;
}
.t-muted {
  color: #999 !important;
}
.t-999 {
  color: #999999 !important;
}
.t-666 {
  color: #666666 !important;
}
.t-333 {
  color: #333333 !important;
}
.t-ccc {
  color: #cccccc !important;
}
.t-ddd {
  color: #dddddd !important;
}
.t-eee {
  color: #eeeeee !important;
}
.t-fff {
  color: #ffffff !important;
}
a.t-muted {
  color: #999;
}
a.t-muted:hover {
  color: #555;
}
.bg-primary {
  background-color: #00CBC0 !important;
}
.bg-second {
  background-color: #474e5e !important;
}
.bg-info {
  background-color: #0287fe !important;
}
.bg-success {
  background-color: #45be8a !important;
}
.bg-warning {
  background-color: #f0ad4e !important;
}
.bg-danger {
  background-color: #E20D0D !important;
}
.bg-header {
  background-color: #F8FAFC !important;
}
.bg-fff {
  background-color: #fff !important;
}
.t-xs {
  font-size: 12px !important;
}
.t-sm {
  font-size: 14px !important;
}
.t-md {
  font-size: 16px !important;
}
.t-lg {
  font-size: 18px !important;
}
.t-xl {
  font-size: 20px !important;
}
.t-xxl {
  font-size: 22px !important;
}
.t-xxxl {
  font-size: 32px !important;
}
.t-break {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.t-eps {
  display: block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.t-eps-2,
.t-eps-3,
.t-eps-4,
.t-eps-5 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: normal !important;
  -webkit-box-orient: vertical;
}
.t-eps-2 {
  -webkit-line-clamp: 2;
}
.t-eps-3 {
  -webkit-line-clamp: 3;
}
.t-eps-4 {
  -webkit-line-clamp: 4;
}
.t-eps-5 {
  -webkit-line-clamp: 5;
}
.t-top {
  vertical-align: top !important;
}
.t-mid {
  vertical-align: middle !important;
}
.t-bottom {
  vertical-align: bottom !important;
}
.t-left {
  text-align: left !important;
}
.t-cent {
  text-align: center !important;
}
.t-right {
  text-align: right !important;
}
.t-impact {
  font-family: "Impact";
}
.t-tahoma {
  font-family: "Tahoma";
}
.h-auto {
  height: auto !important;
}
.w-auto {
  width: auto !important;
}
.t0 {
  top: 0;
}
.l0 {
  left: 0;
}
.r0 {
  right: 0;
}
.b0 {
  bottom: 0;
}
.bd0 {
  border: 0 !important;
}
.bd1 {
  border: 1px solid #ddd !important;
}
.bdr1 {
  border-right: 1px solid #ddd !important;
}
.bdr0 {
  border-right: 0 !important;
}
.bdl1 {
  border-left: 1px solid #ddd !important;
}
.bdl0 {
  border-left: 0 !important;
}
.bdt1 {
  border-top: 1px solid #ddd !important;
}
.bdt0 {
  border-top: 0 !important;
}
.bdb1 {
  border-bottom: 1px solid #ddd !important;
}
.bdb0 {
  border-bottom: 0 !important;
}
[class*="avg-"] {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}
[class*="avg-"]:before,
[class*="avg-"]:after {
  content: " ";
  display: table;
}
[class*="avg-"]:after {
  clear: both;
}
[class*="avg-"]:before,
[class*="avg-"]:after {
  content: " ";
  display: table;
}
[class*="avg-"]:after {
  clear: both;
}
[class*="avg-"] > li {
  display: block;
  height: auto;
  float: left;
}
[class*="avg-"] > li img {
  max-width: 100%;
}
@media (min-width: 480px) {
  .avg-xs-1 > li {
    width: 100%;
  }
  .avg-xs-1 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-xs-1 > li:nth-of-type(1n + 1) {
    clear: both;
  }
  .avg-xs-2 > li {
    width: 50%;
  }
  .avg-xs-2 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-xs-2 > li:nth-of-type(2n + 1) {
    clear: both;
  }
  .avg-xs-3 > li {
    width: 33.33333333%;
  }
  .avg-xs-3 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-xs-3 > li:nth-of-type(3n + 1) {
    clear: both;
  }
  .avg-xs-4 > li {
    width: 25%;
  }
  .avg-xs-4 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-xs-4 > li:nth-of-type(4n + 1) {
    clear: both;
  }
  .avg-xs-5 > li {
    width: 20%;
  }
  .avg-xs-5 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-xs-5 > li:nth-of-type(5n + 1) {
    clear: both;
  }
  .avg-xs-6 > li {
    width: 16.66666667%;
  }
  .avg-xs-6 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-xs-6 > li:nth-of-type(6n + 1) {
    clear: both;
  }
  .avg-xs-7 > li {
    width: 14.28571429%;
  }
  .avg-xs-7 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-xs-7 > li:nth-of-type(7n + 1) {
    clear: both;
  }
  .avg-xs-8 > li {
    width: 12.5%;
  }
  .avg-xs-8 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-xs-8 > li:nth-of-type(8n + 1) {
    clear: both;
  }
  .avg-xs-9 > li {
    width: 11.11111111%;
  }
  .avg-xs-9 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-xs-9 > li:nth-of-type(9n + 1) {
    clear: both;
  }
  .avg-xs-10 > li {
    width: 10%;
  }
  .avg-xs-10 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-xs-10 > li:nth-of-type(10n + 1) {
    clear: both;
  }
  .avg-xs-11 > li {
    width: 9.09090909%;
  }
  .avg-xs-11 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-xs-11 > li:nth-of-type(11n + 1) {
    clear: both;
  }
  .avg-xs-12 > li {
    width: 8.33333333%;
  }
  .avg-xs-12 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-xs-12 > li:nth-of-type(12n + 1) {
    clear: both;
  }
}
@media (min-width: 768px) {
  .avg-sm-1 > li {
    width: 100%;
  }
  .avg-sm-1 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-sm-1 > li:nth-of-type(1n + 1) {
    clear: both;
  }
  .avg-sm-2 > li {
    width: 50%;
  }
  .avg-sm-2 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-sm-2 > li:nth-of-type(2n + 1) {
    clear: both;
  }
  .avg-sm-3 > li {
    width: 33.33333333%;
  }
  .avg-sm-3 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-sm-3 > li:nth-of-type(3n + 1) {
    clear: both;
  }
  .avg-sm-4 > li {
    width: 25%;
  }
  .avg-sm-4 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-sm-4 > li:nth-of-type(4n + 1) {
    clear: both;
  }
  .avg-sm-5 > li {
    width: 20%;
  }
  .avg-sm-5 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-sm-5 > li:nth-of-type(5n + 1) {
    clear: both;
  }
  .avg-sm-6 > li {
    width: 16.66666667%;
  }
  .avg-sm-6 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-sm-6 > li:nth-of-type(6n + 1) {
    clear: both;
  }
  .avg-sm-7 > li {
    width: 14.28571429%;
  }
  .avg-sm-7 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-sm-7 > li:nth-of-type(7n + 1) {
    clear: both;
  }
  .avg-sm-8 > li {
    width: 12.5%;
  }
  .avg-sm-8 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-sm-8 > li:nth-of-type(8n + 1) {
    clear: both;
  }
  .avg-sm-9 > li {
    width: 11.11111111%;
  }
  .avg-sm-9 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-sm-9 > li:nth-of-type(9n + 1) {
    clear: both;
  }
  .avg-sm-10 > li {
    width: 10%;
  }
  .avg-sm-10 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-sm-10 > li:nth-of-type(10n + 1) {
    clear: both;
  }
  .avg-sm-11 > li {
    width: 9.09090909%;
  }
  .avg-sm-11 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-sm-11 > li:nth-of-type(11n + 1) {
    clear: both;
  }
  .avg-sm-12 > li {
    width: 8.33333333%;
  }
  .avg-sm-12 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-sm-12 > li:nth-of-type(12n + 1) {
    clear: both;
  }
}
@media (min-width: 992px) {
  .avg-md-1 > li {
    width: 100%;
  }
  .avg-md-1 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-md-1 > li:nth-of-type(1n + 1) {
    clear: both;
  }
  .avg-md-2 > li {
    width: 50%;
  }
  .avg-md-2 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-md-2 > li:nth-of-type(2n + 1) {
    clear: both;
  }
  .avg-md-3 > li {
    width: 33.33333333%;
  }
  .avg-md-3 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-md-3 > li:nth-of-type(3n + 1) {
    clear: both;
  }
  .avg-md-4 > li {
    width: 25%;
  }
  .avg-md-4 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-md-4 > li:nth-of-type(4n + 1) {
    clear: both;
  }
  .avg-md-5 > li {
    width: 20%;
  }
  .avg-md-5 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-md-5 > li:nth-of-type(5n + 1) {
    clear: both;
  }
  .avg-md-6 > li {
    width: 16.66666667%;
  }
  .avg-md-6 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-md-6 > li:nth-of-type(6n + 1) {
    clear: both;
  }
  .avg-md-7 > li {
    width: 14.28571429%;
  }
  .avg-md-7 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-md-7 > li:nth-of-type(7n + 1) {
    clear: both;
  }
  .avg-md-8 > li {
    width: 12.5%;
  }
  .avg-md-8 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-md-8 > li:nth-of-type(8n + 1) {
    clear: both;
  }
  .avg-md-9 > li {
    width: 11.11111111%;
  }
  .avg-md-9 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-md-9 > li:nth-of-type(9n + 1) {
    clear: both;
  }
  .avg-md-10 > li {
    width: 10%;
  }
  .avg-md-10 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-md-10 > li:nth-of-type(10n + 1) {
    clear: both;
  }
  .avg-md-11 > li {
    width: 9.09090909%;
  }
  .avg-md-11 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-md-11 > li:nth-of-type(11n + 1) {
    clear: both;
  }
  .avg-md-12 > li {
    width: 8.33333333%;
  }
  .avg-md-12 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-md-12 > li:nth-of-type(12n + 1) {
    clear: both;
  }
}
@media (min-width: 1200px) {
  .avg-lg-1 > li {
    width: 100%;
  }
  .avg-lg-1 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-lg-1 > li:nth-of-type(1n + 1) {
    clear: both;
  }
  .avg-lg-2 > li {
    width: 50%;
  }
  .avg-lg-2 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-lg-2 > li:nth-of-type(2n + 1) {
    clear: both;
  }
  .avg-lg-3 > li {
    width: 33.33333333%;
  }
  .avg-lg-3 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-lg-3 > li:nth-of-type(3n + 1) {
    clear: both;
  }
  .avg-lg-4 > li {
    width: 25%;
  }
  .avg-lg-4 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-lg-4 > li:nth-of-type(4n + 1) {
    clear: both;
  }
  .avg-lg-5 > li {
    width: 20%;
  }
  .avg-lg-5 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-lg-5 > li:nth-of-type(5n + 1) {
    clear: both;
  }
  .avg-lg-6 > li {
    width: 16.66666667%;
  }
  .avg-lg-6 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-lg-6 > li:nth-of-type(6n + 1) {
    clear: both;
  }
  .avg-lg-7 > li {
    width: 14.28571429%;
  }
  .avg-lg-7 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-lg-7 > li:nth-of-type(7n + 1) {
    clear: both;
  }
  .avg-lg-8 > li {
    width: 12.5%;
  }
  .avg-lg-8 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-lg-8 > li:nth-of-type(8n + 1) {
    clear: both;
  }
  .avg-lg-9 > li {
    width: 11.11111111%;
  }
  .avg-lg-9 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-lg-9 > li:nth-of-type(9n + 1) {
    clear: both;
  }
  .avg-lg-10 > li {
    width: 10%;
  }
  .avg-lg-10 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-lg-10 > li:nth-of-type(10n + 1) {
    clear: both;
  }
  .avg-lg-11 > li {
    width: 9.09090909%;
  }
  .avg-lg-11 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-lg-11 > li:nth-of-type(11n + 1) {
    clear: both;
  }
  .avg-lg-12 > li {
    width: 8.33333333%;
  }
  .avg-lg-12 > li:nth-of-type(n) {
    clear: none;
  }
  .avg-lg-12 > li:nth-of-type(12n + 1) {
    clear: both;
  }
}
